<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="number">Number</label>
        <input type="number" name="number" id="number">
        <button type="submit">Submit</button>
    </form>
</body>
</html>