<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ol>
            {% for emp in employees %}
                <li><p>{{emp.name}} -</p>
                    {% for task in emp.tasks.all %}
                        <p>{{task.title}}</p>
                    {% endfor %}
                </li>
            {% endfor %}
        </ol>
        
    </div>
</body>
</html>