{% extends "dashboard/dashboard.html" %} 

{% block tasks %} 
{% block title %}Manager Dashboard{% endblock title %}

<!-- Tasks Grid -->
<div class="bg-white rounded-xl shadow-sm">
  <!-- div 1 -->
  <div
    class="grid grid-cols-4 items-center p-4 mt-8 text-gray-500 text-sm border-b border-gray-100"
  >
    <p>TASK TITLE</p>
    <p>PRIORITY</p>
    <p>TEAM</p>
    <p>CREATED AT</p>
  </div>
  <!-- div 2 -->
  {% for task in tasks %}
    <div class="grid grid-cols-4 items-center p-4 gap-4 text-gray-500 text-sm border-b border-gray-100">
    <div class="flex items-center gap-2">
      <div class="w-2 h-2 bg-green-500 rounded-full flex-shrink-0"></div>
      <a href="{% url 'task_details' task.id %}" class="flex-grow"> {{task.title}} </a>
      <a href="{% url 'update_task' task.id %}" class="px-2 py-1 bg-green-500 text-white">Edit</a>
      <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button class="px-2 py-1 bg-red-500 text-white" type="submit">Delete</button>
      </form>
    </div>

    <div>
      <span
        class="px-3 py-1 text-sm bg-blue-200 items-center justify-center rounded-2xl text-blue-500"
        >{{task.details.get_priority_display}}</span
      >
    </div>
    <div>
      <div class="flex -space-x-2">
        {% for emp in task.assigned_to.all %}
          <div
            class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white"
          >
            {{emp.name|slice:":2"}}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-gray-500 text-sm">{{task.created_at|timesince}} ago</div>
  </div>
  {% endfor %}
  
</div>

{% endblock %}
